@mixin banner{
  width: 100%;
  position: relative;
  color: white;

  .banner-content{
    position: absolute;
    top: 50px;
    width: 100%;
  }

  img{
    width: 100%;
  }

  span{
    font-size: 46px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }

  span.title{
    font-weight: normal;
    margin-bottom: 30px;
  }
}

@mixin clearfix{       // Check Video 7
  &:after{
    content:"";
    display:block;
    height: 10px;
    clear:both;
  }
}

@mixin grid($cols, $mgn){  // Check video 9
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: (100% - (($cols-1)* $mgn))/ $cols);  // Important formula for grid

  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}

@mixin mQ($arg){  // Check Video 11
  @media screen and (max-width: $arg){
    @content; // Content passed will be added here automatically
  }
}
