// The index.html file has been imported from github.
// The rest of the code is also obtained from net ninja.

// Just to cancel the default settings of styling
*{
  margin: 0;
  padding:0;
}

/*================== WELCOME TO THE SASS TUTORIAL=========================*/

/* VIDEOS 1 What is SASS?*/
/*============================*/

/*This file is going to take all the sass input and convert it too browser
readable css in the css folder using Prepros.*/


/* VIDEO 2 Downloading and Compiling SASS*/
/*========================================*/

// #1 The following code is a sample and is not related to the index file.

/*.rule{
  color:red;
  a{
    color:blue;
    span{
      color: white;  //Nesting in CSS
    }
  }
}*/

/* Try to open the CSS file created in the css folder. You will see how the
SASS has been coverted.*/
// REMEMBER this comments with "//" will not be displayed in the css file.


/* VIDEO 3 SASS Variables*/
/*===============================*/

// #1 We are declaring and initializing variables.

/*$deepBlue : #032f3e;
$sectionHeading: 24px;

#main-nav{
  background: $deepBlue;
}

section h1{
  font-size: $sectionHeading;
  background: $deepBlue;
}*/


/* VIDEO 4 Nesting Styles*/
/*============================*/

// #1 Code

$deepBlue:#032f3e;  // The variables are in the varible.scss file
$offWhite:#f8f9fb;
#main-nav{
  background: $deepBlue;
  ul{
    width:100%;

  }
  li{
    margin-top: 10px;
    float: left;
    width: (100% / 6); // Will understand after Video 8
    list-style: none;
    /*@include mquery(600px){  // Check Video 11*/
      width: 100%; // This is copied to the @content Section.
    }
  a{
    color: $offWhite;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
}

#main-nav ul:after{
  content:"";
  display:block;
  height: 10px;
  clear:both;
}

/* As soon as we float the nav items we can see that they disappear to bring
them back we have used the last pseudo class with after. This pseudo class
contains a content with a block display which moves to the back of the floated
content*/


/* VIDEO 5 Mxins*/
/*================*/

/* Mixins are like variables which are used to form a group of styles. This
mixins can be used when we need to apply the same styling to different contents
in the index file without writing it over and over again. */

// #1 Code

@mixin banner{
  width: 100%;
  position: relative;
  color: white;

  .banner-content{
    position: absolute;
    top: 50px;
    width: 100%;
  }

  img{
    width: 100%;
  }

  span{
    font-size: 46px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }

  span.title{
    font-weight: normal;
    margin-bottom: 30px;
  }
}

/* Now as we are done with the mixin we need to apply it ta an element from the
index file in the sass file like the following example. Make sure to use the
@include to add up the mixin.*/

// #2 Code

.lead-banner{
  @include banner;
  text-align: right;

}

.lessons-banner{
  @include banner;
  li{
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px ;
    list-style: none;
  }
}

/* This is how we can use mixins in sass*/


/* VIDEO 6 Importing Files*/
/*============================*/

/* Suppose we have some SASS stylings that we want to add on the working sass
file from another sass file. In that case we are going to use the @import */

/* Now we are going to make sass files, one named variable that will contain
 the variables and another named mixin that will contain the mixins*/

 // #1 Code

 /*@import "variable";
 @import "mixins";*/

 /*The files that need to be imported should be placed at the beginning of the
 program because the imported files need to be executed before the others are
 executed and this may cause an error. We have put it as a comment in this file
 because we don't require it for now. */


/* VIDEO 7 Pseudo Classes in SASS*/
/*==============================*/

/* We all know how to apply pseudo classes in css. Now we are going to apply
pseudo classes in sass the output is same as CSS but the coding is a little bit
different. */

/* Lets make a hover effect on the nav links.*/

/*To make a pseudo class in sass we use '&:' before the pseudo class name.*/

// #1 Code

a{
  color: $offWhite;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: center;

  &:hover{
    background-color:  lighten($deepBlue, 6); // Check video 10 Colour Functions
  }
}

/* We can also do the same thing with the clearfix pseudo class. Let's do that
and also covert it into a mixing.The clearfix mixin is in the mixins.scss file.
As we need to import the sass file the following code will be left as a comment.
This will not work now as the file is not imported. Check Video 6*/

// #2 Code

/*#main-nav ul{
@include clearfix;
}*/


/* VIDEO 8 Mathematical Operators */
/*==================================*/

/* Mathematical operators like '+ - * /' can also be used in SASS for simple
 calculations. In this video we are going to learn how can we evenly separate
 contents withing a giving area of 100% using the mathematical opertor.*/

 /* This section is going to complete the service part of the website, as the
 part is totally different from the previous one most of it will
not be commented*/

// #1 Code

#services{
  margint-bottom: 60px;
  li{
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: (100% /3);      // Mathematical operator used over here
    list-style: none;
  }
  img{
    width: 60%;
    margin: 20px 20%;
  }
  a{
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;

    &:hover{
      color: complement($deepBlue);
    }
  }
  ul:after{
    content:"";
    display: block;
    height: 10px;
    clear: both;
  }
}


/* VIDEO 9 Creating a Grid with SASS Math */
/*==========================================*/

/*SASS grid is different from that of CSS please don't be confused between these
two.*/

/*We are going to create a mixin called grid which will take in variables. The
mixin will be written here itself as we haven't imported the mixins sass file.
A copy of the following mixin will be available in the mixins sass file.*/

/* We are passing two variable in the grid mixin. One is the cols variable that
is the number of columns and the other is the margin variable that is for the
margin varibles.*/

// #1 Code

@mixin grid($cols, $mgn){
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($cols - 1)* $mgn))/ $cols);

  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}

#projects li{
  @include grid(4, 2%);
  list-style: none;
  img{
    width: 100%;
  }
}

/* VIDEO 10 Colour Functions */
/*============================*/

/*We can use the following link to get thousands of colour functions
 http://sass-lang.com/documentation/Sass/Script/Functions.html to be used in
 our sass file.*/

 /*We have used two colour functions in this tutorial. Both of these are
 obtained from the above link.*/

 // #1 code

 /*lighten($deepBlue, 6);  // Used in Video 7
 complement($deepBlue); // Used in Video 8 */

 /* VIDEO 11 The @Content Keyword */
 /*===============================*/

 /*The @content keyword is basically used to copy a set of styles automatically
 from one place and paste it to another one. For example in the following Code
 we have used the @content keyword in the mixin, which means that when we apply
 this mixin to style and add more styles to the mixin separately the styles Will
 automatically be added to the main mixin.*/

 // #1 code

 @mixin mquery($arg){
   @media screen and (max-width: $arg){
     @content; // Content passed will be added here automatically
   }
 }

 /*The compiler might show an error now because the mixins need to be added
 before the part where it is been executed.*/

 /*We have used the media query for the first time here is sass. Media query is
 mostly used to get the resolution of the screen of the browser. Media query is
 factor for responsive design. The media query actions are taken over the
 inside it.*/

 /* VIDEO 12 If Statement */
 /*========================*/

 /*Just like other languages if statements are used for similar purpose in Sass
 or CSS. The coding method might be a little bit different. */

 // #1 Code

 @mixin mquery2($args...){  // Read the next point

   @if length($args) == 1{
     @media screen and (max-width: nth($args, 1)){
       @content;
     }}
   @if length($args)== 2{
   @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
       @content;
     }
   }
 }

 /*The three dots after the variable shows that one or more than one values can,
 entered for the same value. Therefore if more than one value has been entered
 a list of the values is to be formed.*/

 /*The 'length(variable)' property determines how many values have been entered
 in the variable.*/

 /*The nth(variable, position) property assigns a variable to its respected
 position.*/

 // #2 Code

 /*When the mixin is called*/

 /*@include mquery2 (3000px){ // This will work for the first if statement
   font-size: 40px;
 }

@include mquery2 (3000px, 1200px){ // This will work for the second if statement
  font-size: 20px;
} */

/*We have just used the above mixins as an example but this mixins are suppose
to be added to an styling part.*/


/*======================= FINISH OF SASS TUTORIAL ================== */
